<form (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-select [formControl]="customerCtrl" #singleSelect>
      <ngx-mat-select-search [formControl]="customerFilterCtrl" [placeholderLabel]="'Wyszukaj'"></ngx-mat-select-search>
      <mat-option *ngFor="let cust of filteredCustomers | async" [value]="cust">
        {{cust.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <div class="btn-group"> -->
    <div *ngIf="changed">
        <button type="submit" (click)="submitted=true" class="btn btn-link">zapisz</button>
        <button (click)="cancelEdit()"  class="btn btn-link">anuluj</button>
    </div>

  <!-- </div> -->




</form>
