<div class="lockhigh div-change container">
  <div class="container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Wyszukaj">
    </mat-form-field>
    <mat-paginator [length]="devices?.length" [pageSizeOptions]="[25, 10, 52, 100, 500, 1000]" showFirstLastButtons>
    </mat-paginator>
  </div>

  <br/>
  <h6 class="text-center">Zaznaczono {{selection.selected.length}} urządzeń</h6>

  <table mat-table [dataSource]="dataSource" class="col-md-12" matSort multiTemplateDataRows>


    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

    <!-- deviceNumber Column -->
    <ng-container matColumnDef="deviceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer urządzenia </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceNumber}} </td>
    </ng-container>

    <!-- sellerName Column -->
    <ng-container matColumnDef="seller.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sprzedawca </th>
      <td mat-cell *matCellDef="let element"> {{element.seller?.name}} </td>
    </ng-container>

    <!-- customer.name Column -->
    <ng-container matColumnDef="customer.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Klient </th>
      <td mat-cell *matCellDef="let element"> {{element.customer?.name}} </td>
    </ng-container>

    <!-- packageName Column -->
    <ng-container matColumnDef="packageName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pakiet </th>
      <td mat-cell *matCellDef="let element"> {{element.packageName}} </td>
    </ng-container>

    <!-- timelock Column -->
    <ng-container matColumnDef="timeLock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Timelock </th>
      <td mat-cell *matCellDef="let element"> {{element?.timeLock | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Język </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <!-- lastActivation Column -->
    <ng-container matColumnDef="lastActivation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ostatnia aktywacja </th>
      <td mat-cell *matCellDef="let element"> {{element?.lastActivation | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" (click)="selection.toggle(element)">
    </tr>
  </table>



</div>
