.main-content {
    margin-left: 250px;
    float: unset;
    right: 0;
    position: relative;
    display: block;
    padding-top: 1px;
}

.main-inner-content{
    padding: 10px;
}

.main-body .page-wrapper {
    padding: 0.6rem 1.5rem;
}