.main-content {
    margin-left: 250px;
    float: unset;
    right: 0;
    position: relative;
    display: block;
    padding-top: 1px;
}

.main-inner-content{
    padding: 10px;
}

.main-body .page-wrapper {
    padding: 0.6rem 1.5rem;
}

img {
    vertical-align: middle;
    border-style: none;
}


.no-padding {
    padding:0
}


.h-100{
    height: 70vh !important;
}

.card.login{
    height: 80%;
    font-size: 1.6rem;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}