.test{
    border: solid 1px black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: "Quicksand",sans-serif;
}

body {
    font-family: "Quicksand",sans-serif;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    min-height: 70px;
    padding: 0;
}

.navbar .navbar-wrapper .navbar-logo {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    text-align: center;
    width: 250px;
    padding: 20px 10px;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
    box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    background: #263544;
}

.user-profile {
    float: left;
    line-height: 4.4;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}

.user-profile img {
    margin-right: 10px;
    width: 40px;
}

.img-radius {
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
    box-shadow: 0 5px 10px 0 rgba(43,43,43,0.2);
}

.chevron-down {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    margin-left: 10px;
}

.profile-notification {
    width: 17em;
    background: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    border: none;
    opacity: 1;
    position: absolute;
    left: auto;
    right: -15px;
    visibility: visible;
    overflow: visible;
    width: 24rem;
    padding: 15px 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.show.profile-notification:before {
    content: "";
    border: 10px solid transparent;
    border-left-color: #fff;
    border-top-color: #fff;
    position: absolute;
    border-radius: 3px;
    top: -8px;
    right: 15px;
    -webkit-box-shadow: -5px -5px 12px -2px rgba(0,0,0,0.3);
    box-shadow: -5px -5px 12px -2px rgba(0,0,0,0.3);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1002;

}

.profile-notification li:first-child {
    padding: 0.7em 20px;
}

.profile-notification li {
    border-top: none;
}

.profile-notification li {
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.profile-notification a {
    font-size: 15px;
    padding-left: 0;
    color: #333;
    padding: 0 0.6rem;
}

.profile-notification a> i{
    padding-right: 0.3rem;
} 


.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.main-container-wrapper{
    position: relative;
    margin: 0 auto;

    
}

.main-container {
    display: block;
    position: relative;
    background: #f2f7fb;
    min-height: calc(100vh - 70px);
}

.left-navbar {
    width: 250px;
    float: left;
    top: 70px;
    position: fixed;
    z-index: 1027;
    height: 100%;
    display: block;
}

.nav-list {
    overflow: hidden;
    height: calc(100vh - 70px);
    border-radius: 0 0 0 0;
    -webkit-box-shadow: 0 2px 15px 0 rgba(43,43,43,0.2);
    box-shadow: 0 2px 15px 0 rgba(43,43,43,0.2);
}

.left-inner-navbar{
    background-color: #263544; 
    display: block;
    position: relative;
}

.main-menu {
    float: left;
    width: 100%;
    z-index: 99;
}

.left-navbar-navigation-label{
    color: #f1f7ff;
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    padding: 25px 25px 5px 15px;
    margin-bottom: 5px;
    position: relative;
}

.left-navbar-item{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.left-navbar-item>li{
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.left-navbar-item>li>a{
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-bottom-color: #263544;
    color: #b7c0cd;
    text-align: left;
    padding: 7px 10px 7px 20px;
    margin: 5px 0 0;
    border-radius: 0;
    border-left: 3px solid transparent;
    display: block;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
}

.main-content {
    margin-left: 250px;
    float: unset;
    right: 0;
    position: relative;
    display: block;
    padding-top: 1px;
}

.page-header.card {
    background-size: cover;
    position: relative;
    margin: 15px 35px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

// .card {
//     position: relative;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     border: 1px solid rgba(0,0,0,.125);
//     border-radius: .25rem;
// }

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
    box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.align-items-end {
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

// .main-inner-content {
//         border-radius: 5px;
//         -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
//         box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
//         border: none;
//         margin-bottom: 30px;
//         -webkit-transition: all 0.3s ease-in-out;
//         transition: all 0.3s ease-in-out;
//         position: relative;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-orient: vertical;
//         -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//         flex-direction: column;
//         min-width: 0;
//         word-wrap: break-word;
//         background-color: #fff;
//         background-clip: border-box;
//         border: 1px solid rgba(0,0,0,.125);
//         border-radius: .25rem;
// }

.page-header.card .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    float: right;
}

.page-header.card .breadcrumb a {
    font-size: 13px;
}

a {
    font-size: 13px;
    color: #37474f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page-header.card h5 {
    font-family: "Quicksand",sans-serif;
    margin-bottom: 0;
}

.breadcrumb {
    padding: .5rem 1rem !important;
}

.main-inner-content{
    padding: 10px;
}

.main-body .page-wrapper {
    padding: 0.6rem 1.5rem;
}