<nav class="navbar sticky-top flex-md-nowrap p-0">
  <div class="navbar-wrapper">
    <div class="navbar-logo">
      <a href="">
        <img class="" src="assets/logo.png" alt="Logo" />
      </a>
    </div>
  </div>
  <div class="user-profile header-notification">
    <div class="dropdown-primary dropdown">
      <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img
          src="assets/user.png"
          class="img-radius"
          alt="User-Profile-Image"
        />
        <span>Tomasz Łakomy</span>
        <i class="fa fa-chevron-down chevron-down"></i>
      </div>
      <ul class="show-notification profile-notification dropdown-menu">
        <li>
          <a href="#!"> <i class="fa fa-user"></i> Edytuj profil </a>
        </li>
        <li>
          <a href="#"> <i class="fa fa-sign-out"></i> Wyloguj </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid main-container">
  <div class="main-container-wrapper ">
    <nav class="left-navbar">
      <div class="nav-list">
        <div
          class="slimScrollDiv"
          style="position: relative; overflow: hidden; width: 100%; height: 100%;"
        >
          <div
            class="left-inner-navbar main-menu"
            style="overflow: hidden; width: 100%; height: 100%;"
          >
            <div class="left-navbar-navigation-label">
              Urządzenia
            </div>
            <ul class="left-navbar-item">
              <li>
                <a href="">
                  <span class=""><i class="feather icon-home"></i></span>
                  <span class="navbar-text">Lista urządzeń</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class=""><i class="feather icon-home"></i></span>
                  <span class="navbar-text">Komunikaty</span>
                </a>
              </li>
            </ul>
            <div class="left-navbar-navigation-label">
              Programy
            </div>

            <ul class="left-navbar-item">
              <li>
                <a href="">
                  <span class=""><i class="feather icon-home"></i></span>
                  <span class="navbar-text">Lista programów</span>
                </a>
              </li>
            </ul>
          </div>
          <div
            class="slimScrollBar"
            style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 432.064px;"
          ></div>
          <div
            class="slimScrollRail"
            style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"
          ></div>
        </div>
      </div>
    </nav>

    <div class="main-content">
      <div class="page-header card">
        <div class="row align-items-end">
          <div class="col-lg-8">
            <div class="page-header-title">
              <i class="feather icon-menu bg-c-blue"></i>
              <div class="d-inline">
                <h5>Navbar Light</h5>
                <span
                  >lorem ipsum dolor sit amet, consectetur adipisicing
                  elit</span
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="page-header-breadcrumb">
              <ul class=" breadcrumb breadcrumb-title">
                <li class="breadcrumb-item">
                  <a href="index.html"><i class="feather icon-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Navbar-Light</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="page-header card">
        <div class="row align-items-end">
          <div class="col-lg-8">
            <div class="page-header-title">
              <i class="feather icon-layers bg-c-blue"></i>
              <div class="d-inline">
                <h5>Widget statistic</h5>
                <span
                  >lorem ipsum dolor sit amet, consectetur adipisicing
                  elit</span
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="page-header-breadcrumb">
              <ul class=" breadcrumb breadcrumb-title">
                <li class="breadcrumb-item">
                  <a href="index.html"><i class="feather icon-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Widget</a></li>
                <li class="breadcrumb-item"><a href="#!">statistic</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="main-inner-content">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          rerum deserunt cumque, fugiat repellendus illum autem eius ea minima
          sunt exercitationem veritatis totam? Excepturi odit provident eos
          mollitia omnis natus!</span
        >
      </div>
    </div>
  </div>
</div>
