<br/>
<h4 class="text-center">Identyfikacja</h4>
<hr />
<div class="row container-fluid">
  <div class="col-md-5">
    <dl>
        <dt>Nr. urządzenia:</dt>
        <dd> {{deviceIdent?.deviceNumber}}</dd>
        <dt>Real Serial Number:</dt>
        <dd> {{deviceIdent?.realSN}}</dd>
    </dl>
  </div>

  <div class="col-md-5 offset-md-2">
      <dl>
          <dt>Wersja bootloadera:</dt>
          <dd> {{deviceIdent?.bootVersion}}</dd>
          <dt>Wersja hardware:</dt>
          <dd> {{deviceIdent?.hardwareVersion}}</dd>
        </dl>
  </div>
</div>
