<div class="container-fluid row">
        <textarea [(ngModel)]="translation.headerText" (input)="changed()"  class="col-md-12" rows="3"></textarea><br/>
        <textarea [(ngModel)]="translation.bodyText" (input)="changed()" class="col-md-12" rows="10"></textarea><br/>
        <textarea [(ngModel)]="translation.footerText" (input)="changed()"  class="col-md-12" rows="4"></textarea><br/><br/>

          <form  (ngSubmit)="onSubmit()">
                <button  mat-raised-button color="primary" [disabled]="!isChanged" type="submit">Zapisz</button>
          </form>

</div>
