<h4 class="text-center">Wersje językowe</h4>
<hr />
<h6>Dodaj nową wersję językową komunikatu.</h6>

<div class="container-fluid">
  <div class="row">
    <mat-select class="col-md-3 border border-secondary" placeholder="dodaj język" [(ngModel)]="selectedLanguage">
      <mat-option *ngFor="let item of languagesAvaliable" [value]="item">{{item.name}}</mat-option>
    </mat-select>
    <button (click)="addLanguage()" class="btn btn-primary btn-nopadding col-md-2 col-lg-1">Dodaj</button>
  </div>
</div>
<br />
<hr />


<mat-tab-group>
  <mat-tab *ngFor="let item of translations" label="{{item.language?.name}}">
      <br />
      <app-translation-edit [translation]="item" (refreshListEmitter)="listRefreshTriggered($event)"></app-translation-edit>
  </mat-tab>
</mat-tab-group>
