<div class="container-fluid">
  <mat-tab-group>
      <mat-tab  label="Edycja">
          <ng-template matTabContent>
          <br />
            <app-create-edit-message (messageDefChange)="onMessageDefChange($event)" [messageDef]="message"></app-create-edit-message>
          </ng-template>
      </mat-tab>
    <mat-tab  label="Tłumaczenia">
        <ng-template matTabContent>
        <br />
          <app-message-translations (refreshListEmitter)="listRefreshTriggered($event)" [messageDefId]="message.id" [translations]="message?.translations"></app-message-translations>
        </ng-template>
    </mat-tab>
    <mat-tab  label="Urządzenia">
      <ng-template matTabContent>
      <br />
        <app-message-devices [messageDefId]="message.id"></app-message-devices>
      </ng-template>
  </mat-tab>
  </mat-tab-group>

</div>
