table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: cadetblue;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}

.messages-details {
  padding: 20px;
  width: 100%;
}

.div-change{
  height: 100%;
  min-height: 100vh;
}

td {
  margin: 10px !important;
  padding-left: 10px !important;
}
