<section class="sidebar bg-light mat-elevation-z9" fxFlex="220px">
    <div class="main-menu">
      <mat-list>
        <h3 mat-subheader>Navigation</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>tablet</mat-icon>
          <h4 mat-line>
            <a routerLink="devices" routerLinkActive="router-link-active" >Urządzenia</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>extension</mat-icon>
          <h4 mat-line>
            <a routerLink="programs">Programy</a>
          </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>
            <a href="#">Notatki</a>
          </h4>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
