<nav class="left-navbar">
  <div class="nav-list">
    <div
      class="slimScrollDiv"
      style="position: relative; overflow: hidden; width: 100%; height: 100%;"
    >
      <div
        class="left-inner-navbar main-menu"
        style="overflow: hidden; width: 100%; height: 100%;"
      >
        <div class="left-navbar-navigation-label">
          Urządzenia
        </div>
        <ul class="left-navbar-item">
          <li class="active">
            <span><img src="../../../assets/tablet.png"/></span>
            <span class="navbar-text">
              <a routerLink="devices" routerLinkActive="router-link-active"
                >Lista urządzeń</a
              >
            </span>
          </li>
          <li>
            <span><img src="../../../assets/message.png"/></span>
            <span class="navbar-text">
              <a routerLink="messages" routerLinkActive="router-link-active"
                >Komunikaty</a
              >
            </span>
          </li>
        </ul>
        <div class="left-navbar-navigation-label">
          Programy
        </div>

        <ul class="left-navbar-item">
          <li>
            <span><img src="../../../assets/programs.png"/></span>
            <span class="navbar-text">
              <a routerLink="programs">Lista programów</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
