// :host .mat-list {
//   margin-top: 65px;
// }
// .mat-list-item .mat-list-item-content {
//   padding: 0px;
// }

.left-navbar {
  width: 250px;
  float: left;
  top: 70px;
  position: fixed;
  z-index: 1027;
  height: 100%;
  display: block;
}

.nav-list {
  overflow: hidden;
  height: calc(100vh - 70px);
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 0 2px 15px 0 rgba(43,43,43,0.2);
  box-shadow: 0 2px 15px 0 rgba(43,43,43,0.2);
}

.left-inner-navbar{
  background-color: #263544; 
  display: block;
  position: relative;
}

.main-menu {
  float: left;
  width: 100%;
  z-index: 99;
}

.left-navbar-navigation-label{
  color: #f1f7ff;
  font-size: 12px;
  font-weight: 500;
  opacity: 1;
  padding: 25px 25px 5px 15px;
  margin-bottom: 5px;
  position: relative;
}

.left-navbar-item{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  // padding: 7px 10px 7px 20px;
  position: relative;
}

.left-navbar-item>li:first-child{
  // padding: 7px 10px 7px 20px;
}

.left-navbar-item>li{
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 7px 10px 7px 20px;
}

a{
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-bottom-color: #263544;
  color: #b7c0cd;
  text-align: left;
  padding: 7px 10px 7px 20px;
  margin: 5px 0 0;
  border-radius: 0;
  border-left: 3px solid transparent;
  display: block;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

li.active{
  background: #1d2531;
  color: #b7c0cd;
}
