<form style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 10px">
  <mat-form-field>
    <input type="text" placeholder="Sprzedawca" matInput [formControl]="sellerControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredSellerOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
      <input type="text" placeholder="Klient"  matInput [formControl]="customerControl" [matAutocomplete]="auto2">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredCustomerOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <mat-form-field>
      <input type="text" placeholder="Język"  matInput [formControl]="languageControl" [matAutocomplete]="auto3">
      <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
        <mat-option *ngFor="let option of filteredLanguageOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  <mat-form-field>
      <input type="text" placeholder="Pakiet"  matInput [formControl]="packageControl" [matAutocomplete]="auto4">
      <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
        <mat-option *ngFor="let option of filteredPackageOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
