<mat-tab-group>
  <mat-tab label="Informacje o sprzedaży">
    <ng-template matTabContent>
      <app-pricing-info  [expandId]="expandId" (refreshListEmitter)="refresListTriggered($event)"></app-pricing-info>
    </ng-template>
  </mat-tab>
  <mat-tab label="Pakiety">
    <ng-template matTabContent>
      <app-packages *ngIf="!loading" (refreshListEmitter)="refresListTriggered($event)"></app-packages>
    </ng-template>
  </mat-tab>
  <mat-tab label="Inne">
    <ng-template matTabContent>
      <app-others *ngIf="!loading"  (refreshListEmitter)="refresListTriggered($event)"></app-others>
    </ng-template>
  </mat-tab>
</mat-tab-group>
