<mat-tab-group>
  <mat-tab label="Informacje o sprzedaży">
    <ng-template matTabContent>
      <app-pricing-info [expandId]="programIdent" (refreshListEmitter)="refresListTriggered($event)"></app-pricing-info>
    </ng-template>
  </mat-tab>
  <mat-tab label="Pakiety">
    <ng-template matTabContent>
      <app-packages (refreshListEmitter)="refresListTriggered($event)"></app-packages>
    </ng-template>
  </mat-tab>
  <mat-tab label="Inne">
    <ng-template matTabContent>
      <app-others  (refreshListEmitter)="refresListTriggered($event)"></app-others>
    </ng-template>
  </mat-tab>
</mat-tab-group>
