<mat-tab-group>
    <mat-tab label="Informacje">
      <!-- <ng-template matTabContent>
        <app-device-info [programId]="programId" (refreshListEmitter)="refresListTriggered($event)"></app-device-info>
      </ng-template>
    </mat-tab>
    <mat-tab label="Identyfikacja">
      <ng-template matTabContent>
        <app-device-identification [deviceId]="deviceId"></app-device-identification>
      </ng-template>
    </mat-tab>
    <mat-tab label="Status">
      <ng-template matTabContent>
        <app-device-status [deviceId]="deviceId" (refreshListEmitter)="refresListTriggered($event)"></app-device-status>
      </ng-template>
    </mat-tab>
    <mat-tab label="Komunikaty">
      <ng-template matTabContent>
        <app-device-messages [deviceId]="deviceId"></app-device-messages>
      </ng-template> -->
    </mat-tab>
  </mat-tab-group>