<mat-form-field>
  <mat-label>Wyszukaj</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Np. bmw" #input>
</mat-form-field>
<mat-paginator [pageSizeOptions]="[25, 50, 100, 250]"></mat-paginator>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID: </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->
    <!-- programIdent Column -->
    <ng-container matColumnDef="programIdent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> program Id: </th>
      <td mat-cell *matCellDef="let element"> {{element.programIdent}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa programu: </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>



    <!-- isActive Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktywny?: </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isActive == true; else elseBlock">tak</div>
        <ng-template #elseBlock>nie</ng-template>
      </td>
    </ng-container>

    <!-- isActive Column -->
    <ng-container matColumnDef="pricingInfo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena netto: </th>
      <td mat-cell *matCellDef="let element"> {{element.pricingInfo.netPrice | currency:'EUR' }}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-program-details (refreshListEmitter)="refreshListTriggered($event)" *ngIf="expandedElement==element"
            class="program-details border border-primary" [expandId]="element.programIdent"></app-program-details>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <!-- menuPositions Column
          <ng-container matColumnDef="menuPositions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pozycja w menu: </th>
            <td mat-cell *matCellDef="let element"> 
              <-- <div *ngIf="element.menuPositions == null; else elseBlock">tak</div>
              <ng-template #elseBlock>nie</ng-template> 
              {{element.menuPositions}}
            </td>
          </ng-container>
          <-- programPackages Column 
          <ng-container matColumnDef="programPackages">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Paczka programu: </th>
            <td mat-cell *matCellDef="let element"> {{element.programPackages}} </td>
          </ng-container> -->


    <!-- <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr> -->

    <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
    <!-- Row shown when there is no matching data. -->
    <!-- Działa od angulara 10? -->
    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
    </tr> -->
  </table>


</div>