table {
    word-wrap: break-word;
    table-layout:fixed;
    width: 100%;
  }
  ngcontainer{
      width: 50px;
  }
   .mat-form-field {
//     font-size: 14px;
     width: 100%;
//     padding: 5px;
   }
    
  th.mat-sort-header-sorted {
    color: black;
  }
  
  td {
    margin: 10px !important;
    padding-left: 10px !important;
}
  