<mat-tab-group>
  <mat-tab  label="Dodaj do urządzeń">
    <ng-template matTabContent>
    <br />
    <app-outside (itemsAddedEmitter)="dowloadDevices()" [devicesOutside]="devicesOutside" [messageId]="messageDefId"></app-outside>
    </ng-template>
</mat-tab>
<mat-tab  label="Usuń z urządzeń">
  <ng-template matTabContent>
  <br />
  <app-inside (itemsRemovedEmitter)="dowloadDevices()" [devicesInside]="devicesInside" [messageId]="messageDefId"></app-inside>
  </ng-template>
</mat-tab>
</mat-tab-group>
