<nav class="navbar sticky-top flex-md-nowrap p-0">
    <div class="navbar-wrapper">
      <div class="navbar-logo">
        <a href="">
          <img class="" src="assets/logo.png" alt="Logo" />
        </a>
      </div>
    </div>
    <div class="user-profile header-notification">
      <div class="dropdown-primary dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img
            src="assets/user.png"
            class="img-radius"
            alt="User-Profile-Image"
          />
          <span>Tomasz Łakomy</span>
          <i class="fa fa-chevron-down chevron-down"></i>
        </div>
        <ul class="show-notification profile-notification dropdown-menu">
          <li>
            <a href="#!"> <i class="fa fa-user"></i> Edytuj profil </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-sign-out"></i> Wyloguj </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>