/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
padding: 50px 100px;
background:#e0e0e0;
}
.example-spacer {
  margin-right: 20px;
}
